.container{
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    margin: 0 1rem;    

    border-radius: 8px;
    background-color: white;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
h1{
    text-align: center;
}
